.finances {

  h3 {
    margin-bottom: 0;
  }

  .cash, .contributors, .industries, .sectors {
    margin-bottom: 50px;
    width: 550px;
  }

  .finances-tables {
    display: flex;
    flex-wrap: wrap;
  }

  .finances-dates {
    display: flex;

    p {
      margin: 0 10px 0 0;
    }
  }
}
