.finances {
  // width: 70%;


  &-inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .finances-card {
      flex: 0 0 auto;
    }
  }
  // table {
  //   width: 100%;
  //
  //   th {
  //     text-align: left;
  //   }
  //
  //   td {
  //     padding: 10px 0;
  //   }
  // }
}
