@media only screen and (max-width: 768px) {

  .nav-desktop {
    display: none;
  }

  .nav {
    position: relative;

    .nav-header {
      li {
        display: block;
      }
    }

    .nav-mobile {
      border-top: 0;
      display: block;
      position: relative;

      #nav-label {
        border-top: 0;
      }

      #nav-menu {

        #show-menu {
          display: block;
        }

        ul {
          display: none;
        }
      }

      .nav-header {
        border-top: 1px solid #000;
        margin: 0;
        padding: 15px;

        .nav-header-item {
          margin: 10px 0;
        }
      }

      .nav-mobile-button {
        display: block;
        font-size: 3.052em;
        font-weight: 700;
        position: absolute;
        right: 25px;
        top: 25px;
        z-index: 10;
      }

      .nav-mobile-label {
        margin: 10px 0;

        p {
          font-size: 16px;
          font-weight: 700;
          margin: 0;
          padding-bottom: 2px;
        }
      }
    }

    .nav-sub {
      padding: 0;
      overflow: auto;
      white-space: nowrap;
      background-image: linear-gradient(to right,#ccd4e0,#ccd4e0),linear-gradient(to right,#ccd4e0,#ccd4e0), linear-gradient(to right,rgba(0, 40, 104, 0.15),rgba(255, 255, 255, 0)), linear-gradient(to left,rgba(0, 40, 104, 0.15),rgba(255, 255, 255, 0));
      background-position: left center, right center, left center, right center;
      background-size: 20px 100%, 20px 100%, 10px 100%, 10px 100%;
      background-repeat: no-repeat;
      background-attachment: local, local, scroll, scroll;
      height: 53px;
      -ms-overflow-style: none;

      #nav-sub-active {
        height: 53px;
      }
    }

    .nav-sub::-webkit-scrollbar {
      display: none;
    }
  }

  .politician {
    .votes, .bills, .finances {
      overflow: auto;
    }

    .grid-12 {
      min-width: 950px;
    }
  }

  .terms {

    h3 {
      width: 95%;
    }

    .elected {
      justify-content: center;

      p {
        padding: 12px;
      }
    }
  }

  .tooltip {
    display: none;
  }

}
