.nav {
  cursor: pointer;

  button {
    text-align: left;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    cursor: pointer;
  }

  .nav-header {
    border-bottom: 1px solid #000;
    margin: 25px 0 0 0;
    padding-left: 15px;

    li {
      display: inline-block;
    }

    button {
      margin-right: 50px;

      p {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding-bottom: 2px;
      }

      p:hover {
        border-bottom: 8px solid #000;
      }
    }

    #active-button {
      border-bottom: 8px solid #000;
    }

  }

  .nav-mobile {
    display: none;
  }

  .nav-sub {
    background-color: $lightblue;
    height: 50px;
    padding-left: 15px;

    #nav-sub-active {
      background-color: $blue;

      button {
        color: #fff;
      }
    }

    .nav-sub-item {
      color: #000;
      cursor: pointer;
      height: 50px;

      button {
        font-size: .8em;
        font-weight: 400;
        letter-spacing: 2.3px;
        margin-top: 0;
        text-transform: uppercase;
      }

      button, a {
        padding: 15px;
        cursor: pointer;
      }

      .social-icon {
          cursor: pointer;
          width: 20px;
      }
    }
  }

}

@media only screen and (min-width: 768px) {
  .nav {
    .nav-sub {
      background-color: $lightblue;
      height: 50px;
      padding-left: 15px;

      .nav-sub-item:hover {
        background-color: $blue;

        button {
          color: #fff;
        }
      }
    }
  }
}
