.nav {
  cursor: pointer;

  button {
    text-align: left;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    cursor: pointer;
    display: inline-block;
  }

  .nav-header {
    border-bottom: 1px solid #000;
    margin: 25px 0 0 0;
    padding-left: 15px;

    button {
      margin-right: 50px;

      p {
        font-size: 16px;
        font-weight: 700;
        margin: 0;
        padding-bottom: 2px;
      }

      p:hover {
        border-bottom: 8px solid #000;
      }
    }

    #active-button {
      border-bottom: 8px solid #000;
    }

  }

  .nav-sub {
    background-color: $lightblue;
    padding-left: 15px;
    margin-bottom: 25px;

    button {
      color: #000;
      font-size: .8em;
      font-weight: 400;
      letter-spacing: 2.3px;
      margin-top: 0;
      padding: 15px;
      text-transform: uppercase;
    }

    button:hover {
      background-color: $blue;
      color: #fff;
    }

    #nav-sub-active {
      background-color: $blue;
      color: #fff;
    }
  }
}
