.nav {

  button:hover {
    border-bottom: 1px solid #000;
  }

  #representative, #tab {
    border-bottom: 1px solid #000;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    cursor: pointer;
    display: inline-block;
  }
}
