#active {
  display: block;
}

.politician {

  .politician-banner {
    background-color: $lightred;
    margin: 0 15px;
    padding: 10px;
    text-transform: uppercase;
  }

  .politician-info {
    display: none;
  }

}
