.terms {

  .elected {
    display: flex;

    p {
      background-color: $orange;
      color: #fff;
      margin-right: 15px;
      padding: 15px;
    }
  }

  .committees {
    display: flex;
    flex-wrap: wrap;

    .committees-list {
      margin-right: 25px;
    }
  }

}
