.terms {

  h3 {
    margin-bottom: 0px;
  }

  .elected {
    background-color: $orange;
    color: #fff;
    margin-right: 15px;
    padding: 15px;
  }

  .terms-data {
    margin-top: 25px;
  }

  .sponsors {
    margin-right: 25px;

    h2 {
      margin: 0;
    }

    p {
      margin: 0;
      text-transform: capitalize;
    }
  }

  .piechart {

    .piechart-data-two {
      display: none;
    }
  }

  .committees {

    .committees-list {
      margin-right: 25px;
    }
  }

}
