/* Color */
$red: #de0100;
$lightred: #f5b2b2;
$blue: #002868;
$lightblue: #ccd4e0;
$lightgrey: #f2f1f1;
$grey: #7d7373;
$darkgrey: #555;
$green: #286800;
$lightgreen: #bed1b2;
$yellow: #F4B400;
$orange: #FFA500;
