@import './styles/Variables.scss';
@import './styles/Loading.scss';
@import './styles/Intro.scss';
@import './styles/Map.scss';
@import './styles/Nav.scss';
@import './styles/Politicians.scss';
@import './styles/Politician.scss';
@import './styles/Button.scss';
@import './styles/Finances.scss';
@import './styles/Terms.scss';
@import './styles/Tables.scss';
@import './styles/Grids.scss';

body {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

h1 {
  font-size: 33.18px;
  font-weight: 200;
}

h2 {
  font-size: 27.65px;
  font-weight: 400;
}

h3 {
  font-size: 1.563em;
  font-weight: 400;
}

h4 {
  color: $grey;
  font-size: 1.25em;
  font-weight: 200;
}

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

.app {
  position: relative;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.bold {
  font-weight: 700;
}

.label {
  color: $darkgrey;
  font-size: .8em;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}

.label-blue {
  color: $blue;
}

.small-type {
  font-size: .8em;
}
