@import './styles/Variables.scss';
@import './styles/Loading.scss';
@import './styles/Map.scss';
@import './styles/Nav.scss';
@import './styles/Politicians.scss';
@import './styles/Politician.scss';
@import './styles/Button.scss';
@import './styles/Finances.scss';
@import './styles/Terms.scss';
@import './styles/Tables.scss';
@import './styles/Grids.scss';
@import './styles/Mobile.scss';

body {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

h2 {
  font-size: 1.953rem;
  font-weight: 400;
}

h3, text {
  font-size: 1.563rem;
  font-weight: 400;
}

h4 {
  color: $grey;
  font-size: 1.25rem;
  font-weight: 200;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.blue {
  color: $blue;
}

.light {
  font-weight: 200;
}

.bold {
  font-weight: 700;
}

.display-none {
  display: none;
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-itrems: center;
}

.flex-align-center {
  align-itrems: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.label {
  color: $darkgrey;
  font-size: .8rem;
  letter-spacing: 2.3px;
  text-transform: uppercase;
}

.lower-opacity {
  opacity: .05;
}

.uppercase {
  text-transform: uppercase;
}

.small-type {
  font-size: .8rem;
}
